@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    background: url('../images/vadim.jpg') no-repeat center center fixed;
}

main .container img {
    width: 100%;
}
/* 
 * Footer
 */

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #fff;
}