@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
    font-family: "product-sans-regular";
    src: url("../../fonts/Product Sans Regular.ttf") format("opentype");
}

@font-face {
    font-family: "baron-neue";
    src: url("../../fonts/baron-neue-regular.otf") format("opentype");
}

body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    background: url('../images/sado.jpg') no-repeat center center fixed;
}

.events-main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}

main .container img {
    width: 100%;
    cursor: pointer;
}
/* 
 * Footer
 */

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #fff;
}

.modal-footer{
    display: block !important;
    
}

.modal-footer h4{
    color:rgb(146, 19, 61);
    
}

.modal-description{
    color:rgb(146, 19, 61);
    text-decoration: underline;
}

.modal-header{
    background-color: rgba(130, 60, 196, 0.719);
}

.modal-title{

    color:black;
    font-weight: bold;
}



.text-underline{
    text-decoration: underline;
    color:rgb(146, 19, 61);
}


.zoom {
    transition: transform .1s; 
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); 
    overflow: hidden;
  }