/* about-section */

#about {
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #2c5364, #203a43, #0f2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #2c5364, #203a43, #0f2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: linear-gradient(to left bottom, #1837a8, #006acd, #0096e0, #00c0e7, #6ae7ed); */
    /* background-image: linear-gradient(to bottom, #1b044e, #004491, #007eba, #00b7c6, #42eec1); */
    /* background-image: linear-gradient(to right top, #4e4e4e, #5e5e66, #6e6e80, #7d809b, #8a92b7, #9297c6, #9d9bd4, #aa9fe2, #be92de, #d583d2, #ea72be, #fb5fa3); */
}

/* theme-section */

#theme {
    background-image: linear-gradient( to left bottom, #25671f, #438026, #63992b, #85b231, #aacb36);
    /* background-image: linear-gradient(to right bottom, #d7f29c, #b9f3a3, #99f2ae, #74f1be, #42eed0); */
}

/* events-section */

#events {
    background-image: linear-gradient( to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

/*social */

#social {
    background-image: linear-gradient( to bottom, #370514, #63052e, #90024f, #bf0278, #eb12a9);
}

#social1 {
    background-image: linear-gradient( to left bottom, #940e88, #5e6ac7, #389cd6, #7bc3d1, #cce1dc);
}

/* team-section */

#team {
    background-image: linear-gradient( to right top, #70c6c9, #6cc3d2, #6fbfda, #78badf, #85b4e1, #8daee4, #be92de, #d583d2, #ea72be, #fb5fa3);
}

/* sponsors-section */

#sponsors {
    background-color: coral;
}

/*footer*/

#footer {
    background-color: black;
}