/* Sidear */

@font-face {
    font-family: "baron-neue";
    src: url("../../fonts/baron-neue-regular.otf") format("opentype");
}

@font-face {
    font-family: "formation-bold";
    src: url("../../fonts/Formation UltraBold.ttf") format("opentype");
}

body {
    font-family: "baron-neue", "Helvetica", "Arial";
    font-weight: 400;
    /* font-family: 'Baloo Bhai', cursive; */
}

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    /* transition: 0.25s; */
    padding-top: 6em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    background-color: rgba(66, 66, 66, 0.5);
    padding: 0px 14px;
    border-radius: 5px;
}

#main {
    transition: margin-right 0.5s;
    padding: 16px;
    float: right;
}

#main span {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    border-radius: 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.active {
    color: #f34e31;
}

section {
    padding-top: 5%;
}

.section-heading {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "formation-bold";
    font-weight: 800;
    color: #fff;    
}

/* home-section */

#main-navigator {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

#main-navigator .nav-item {
    list-style-type: none;
    text-decoration: none;
}

#main-navigator .nav-link {
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
    font-style: italic;
}

#main-navigator .nav-link .active {
    color: #f34e31;
}

.navbar-logo {
    width: 3%;
    height: 3%;
}

.section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;
}

/*.section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}*/

.container {
    color: black;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* sponsors-section */

#sponsors .container {
    background-color: coral;
}

#footer .container {
    color: white;
    border-radius: 0;
    box-shadow: none;
}

/* .footer div h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    margin-bottom: 2em;
}

.footer div h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 2em;
}

.footer div h4 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
} */

.footer-desc {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 0.85em;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-desc a {
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
}

.footer-desc .indiv-desc {
    margin-bottom: 20px;
}

.indiv-desc-follow-us a {
    padding: 10px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #fff;
}

/* .footer div div i {
    margin-left: 1em;
    text-decoration: none;
    color: white;
}

.footer div div i:hover {
    margin-left: 1em;
    text-decoration: none;
    color: red;
}

.border-3 {
    border-width:5px !important;
} */

/* @media only screen and (max-width: 768px) {
    section p {
        color: #fff;
        font-size: 0.8em;
    }
    .section-heading h1 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 768px) {
    section p {
        color: #fff;
        font-size: 1em;
    }
    .section-heading h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    #links {
        display: none;
    }
    #address {
        display: none;
    }
}

/* 
 * Scoll bar 
*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #212529;
}

/*responsive section*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section-description {
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

.section-description {
    font-size: 12px;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .section-description {
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .section-description {
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .section-description {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .s1{
        height:400px;
        width:300px;
        
    }
}


@media only screen and (max-width: 500px) {
    .section-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
        
}


@media only screen and (min-width: 600px) {
    .section-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
        
}