<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid" style="background-image:linear-gradient( to right bottom, rgba(17, 16, 16, 0.692), rgba(15, 14, 14, 0.637)), url('../images/bg.png');background-position: center;background-size:cover; ">
        <br>
        <div class="container text-center">
            <div class="heading">
            <h1 style="font-family:Montserrat;color:#FFD700">ABOUT US</h1>
            <br>
            <p style="font-family:Quicksand;font-size: 20px;color:rgba(255, 255, 255, 0.801)">With an ambition to provide a platform for the youth to showcase their technical skills and display cutting-edge 
                technologies, BIT conducts one of the biggest technical fests of Eastern India- Pantheon. 
                In its truest sense, Pantheon is an intricately strung assortment of technological marvels blended with a unique taste of youthful exuberance. This edition of Pantheon dove deeper into the wondrous world of technology through its intriguing theme “Cosmos: Beyond the Realms”. 
                Cognoscenti and connoisseurs of technology will gather together with their thinking caps on from 7th to 8th September, 2019.</p>
            </div>
               <br><br>
            <div class="row">
                 <div class="col-md-12" style="background-image: url('../images/about2.png');background-size: 300px 600px;background-repeat: no-repeat;">
                        <!--<img class="img-fluid" src="../images/about2.png" alt="img1" style="height:300px;">-->
                        
                            <h1 style="font-family:Montserrat;color:#FFD700">SOCIAL CAUSE</h1>
                            <h1 style="font-family:Montserrat;color:#FFFFFF">Education for all</h1> 
                            <br>  
                            <p style="font-family:Quicksand;font-size: 20px;color:rgba(255, 255, 255, 0.801);text-align:left">Technology has brought the latest interventions in the human life.
                                Some of the devices that we access today couldn't have tramped over the human perceptions for a very long time.
                                The annual technical fest of BIT Mesra, Pantheon takes a great sense of achievement in introducing 'Menstrual Hygiene' as the social campaign.</p>
                         
                 </div>
                 <br>
               <!--  <div class="col-md-7">
                    <h1 style="font-family:Montserrat;color:#FFD700">SOCIAL CAUSE</h1>
                    <h1 style="font-family:Montserrat;color:#FFFFFF">Education for all</h1> 
                    <br>  
                    <p style="font-family:Quicksand;font-size: 20px;color:rgba(255, 255, 255, 0.801)">Technology has brought the latest interventions in the human life.
                        Some of the devices that we access today couldn't have tramped over the human perceptions for a very long time.
                        The annual technical fest of BIT Mesra, Pantheon takes a great sense of achievement in introducing 'Menstrual Hygiene' as the social campaign.</p>
                 </div>-->
            </div>
             <br><br>
            <div class="row">
                    <div class="col-md-7">
                            <h1 style="font-family:Montserrat;color:#FFD700">SOCIAL CAMPAIGN</h1>
                            <h1 style="font-family:Montserrat;color:rgba(255, 255, 255, 0.801)">Menstrual Hygiene</h1> 
                            <br>  
                            <p style="font-family:Quicksand;font-size: 20px;color:#FFFFFF">Technology has brought the latest interventions in the human life.
                                 Some of the devices that we access today couldn't have tramped over the human perceptions for a very long time. 
                                 The annual technical fest of BIT Mesra, Pantheon takes a great sense of achievement in introducing 'Menstrual Hygiene' as the social capmpaign.</p>
                    </div>
                    
                    <div class="col-md-5">
                           <img class="img-fluid" src="../images/about3.png" alt="img2" style="height:300px;">
                    </div>
            </div>
        </div>
    </div>
</body>
