<div class="col-md-6 col-lg-3 mb-4 events-container">

    <img class="img-fluid" src="../images/events/formal/bhadaas.png" data-toggle="modal"
    data-target="#event1Modal" alt="event1 poster">

    <div class="modal fade" id="event1Modal" tabindex="-1" role="dialog"
    aria-labelledby="event1ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="oganisingClubs"> <span class="text-underline">Organising Club:</span> &nbsp ${events.venue} </h4>
                            <br>
                            <h4> <span class="text-underline">Venue:</span> &nbsp ${events.venue} </h4>
                            <br>
                            <h4> <span class="text-underline">Duration:</span> &nbsp ${events.duration} </h4>
                            <br>
                            <h4> <span class="text-underline">Team Size:</span> &nbsp ${events.teamSize} </h4>
                            <br>
                        </div>

                        <div class="col-md-6">
                            <img class="img-fluid modal-image zoom" src="../images/ss.png"
                                alt="event1 poster">
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="text-center modal-description">Description</h4>
                <p>${events.description}</p>

            </div>
            <div class="modal-footer text-center ">
                <h4>Event coodinator</h4>
                <h6>${events.coordinators[0]}</h6>
                <h6>${events.coordinators[0]}</h6>
            </div>
        </div>
    </div>
 </div>
</div>