<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="../js/profile.js"></script>

</head>
<body>
    <h1>DashBoard</h1>
    <section id="profile_details">
        <div>
            <h2 id="profile_heading">Profile</h2>
            <h3 id="user_name"></h3>
            <h3 id="user_email"></h3>
        </div>
    </section>

    <section id="team_details">
        <div>
            <h2 id="team_heading">Team</h2>
        </div>
    </section>

    <section id="events_registered">
        <div>
            <h2 id="events_heading">Events Registered</h2>
        </div>
    </section>
</body>
</html>